@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    // overflow: hidden;

}

nav {
    padding: 10px;
    background-color: rgba(20, 4, 4, 0.904);
    display: flex;
    justify-content: space-between;
    color: white;


    .logosvg {
        width: 120px;

        svg {
            fill: rgb(211, 177, 177);
            margin-right: 10px;
        }
    }

    div {
        display: flex;
        align-items: center;

        p {
            margin: 0 5px;
        }

        a {
            margin: 0 5px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 10px;
            color: rgb(255, 216, 209);
            background-color: rgb(92, 50, 50);
            border: none;
            padding: 8px 20px;
            white-space: nowrap;

            &:hover {
                text-decoration: none;
                color: rgb(255, 216, 209);
                background-color: rgb(139, 77, 77);

            }

            &:active {
                background-color: rgb(139, 77, 77);
            }
        }

        img {
            display: none;
        }
    }
}

.containall {
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/pale_red_white_shadow-644060.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .alertdiv {
        height: 50px;
        width: 100%;
    }


}


    .row {
        padding: 0 50px;

        .balance {
            max-width: 383.2px;
            padding: 20px;
            // border: 2px solid white;
            background-color: rgba(63, 26, 26, 0.425);

            h5 {
                color: white;

            }

            div {
                display: flex;
                justify-content: flex-start;
                height: 40px;
                svg {
                    margin-top: 5px;
                    fill: white;
                    margin-right: 5px;
                }

                .currentbalance {
                    color: white;
                    font-size: 2rem;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        form {
            background-color: rgba(63, 26, 26, 0.425);
            max-width: 480px;
            // border: 2px solid white;
            border-radius: 10px;
            // color: white;
            padding: 30px;

            h4 {
                text-align: center;
                margin-bottom: 30px;
                color: rgb(255, 234, 231);
            }
            #amount {
                margin-bottom: 15px;
            }

            .form-control,
            select {
                

                border: none;
                margin: .15rem 0;
                background-color: rgb(255, 234, 231);
            }

            button {
                font-weight: bold;
                // border-radius: 10px;
                color: rgb(255, 216, 209);
                background-color: rgb(92, 50, 50);
                border-color: rgb(92, 50, 50);
                // padding: 8px 45px 11px 45px;
                // &:active {

                // }
            }
        }
    }

#svg {
    .fil0 {
        fill: rgba(235, 223, 223, 0.555);
    }
    .fil1 {
        fill: rgb(139, 77, 77);
    }
}

.transactiontable {
    h3 {
        color: rgb(255, 234, 231);
    }

    #table {
        background-color: rgba(255, 234, 231, 0.829);
        .credit {
            color: rgb(0, 128, 0);
        }
        .debit {
            color: rgb(255, 0, 0);
        }
    }
}