@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    overflow: hidden;

}

nav {
    padding: 10px;
    background-color: rgba(20, 4, 4, 0.904);
    display: flex;
    justify-content: space-between;
    color: white;

    
    .logosvg {
        width: 120px;
        
        svg {
            fill: rgb(211, 177, 177);  
        }
    }

    div {
        display: flex;
        align-items: center;

        p {
            margin: 0 5px;
        }

        a {
            margin: 0 5px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 10px;
            color: rgb(255, 216, 209);
            background-color: rgb(92, 50, 50);
            border: none;
            padding: 8px 20px;
            &:hover {
                text-decoration: none;
                color: rgb(255, 216, 209);
                background-color: rgb(139, 77, 77);

            }
            &:active {
                background-color: rgb(139, 77, 77);
            }
        }
        img {
            display: none;
        }
    }
}

.containall {
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/pale_red_white_shadow-644060.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    .alertdiv{
        height: 50px;
        width: 100%;
    }
    
}

.main {
    form {
        background-color: rgba(63, 26, 26, 0.425);
        width: 480px;
        // border: 2px solid white;
        border-radius: 10px;
        // color: white;
        padding: 30px;
        h4 {
            text-align: center;
            margin-bottom: 30px;
            color: rgb(255, 234, 231);
        }
        .form-control, select {
            border: none;
            margin: .15rem 0;
            background-color: rgb(255, 234, 231);
        }
        button {
            font-weight: bold;
            // border-radius: 10px;
            color: rgb(255, 216, 209);
            background-color: rgb(92, 50, 50);
            border-color: rgb(92, 50, 50);
            // padding: 8px 45px 11px 45px;
            // &:active {
                
            // }
        }
    }
}